<% if (currentUser) {%>
  <div class="logout">
    <p>Welcome, <%=currentUser.username%></p>
    <form action="/sessions?_method=DELETE" method="POST">
      <input class="btn btn-sm" type="submit" value="Logout">
    </form>
  </div>
<%} else {%>
  <div class="login">
    <form action="/sessions/new" method="GET">
        <input class="btn btn-sm" type="submit" value="Login">
    </form>
  </div>
  <%}%>
