  <% if (currentUser) {%>
      <ul class="nav justify-content-center nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="/wonders/new">Submit a wonder</a>
        </li>
  <%} else{%>
      <ul class="nav justify-content-center nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="/users/new">Create an account</a>
        </li>
  <%}%>
    <li class="nav-item">
      <a class="nav-link" href="/wonders/original">7Wonders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="vote" href="/wonders">Vote</a>
    </li>
  </ul>
