  <% if (currentUser) {%>
      <p>Welcome, <%=currentUser.username%></p>
      <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Logout">
      </form>
      <ul>
        <li>
          <a href="/wonders/new">Submit a new wonder</a>
        </li>
  <%} else{%>
      <form action="/sessions/new" method="GET">
          <input type="submit" value="Login">
      </form>
      <ul>
        <li>
          <a href="/users/new">Create an account</a>
        </li>
  <%}%>
    <li>
      <a href="/wonders/original">New7Wonders of the World</a>
    </li>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/wonders">2020 World Wonder Candidates</a>
    </li>
  </ul>
