<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Submit a new wonder</title>
  </head>
  <body>
    <header>
      <%- include('./partials/logout.ejs') %>
      <h1>Submit a wonder</h1>
      <nav>
        <%- include('./partials/nav.ejs') %>
      </nav>
    </header>
    <div class="container">
      <form action="/wonders/new" method="POST">
          <fieldset>
            <legend>Wonder Basic Info</legend>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="wonderName">Name</label>
              <input type="text" name="name" id="wonderName" class="form-control">
            </div>
            <div class="form-group col-md-6">
              <label for="location">Location</label>
              <input type="text" name="location" id="location" class="form-control">
            </div>
            <div class="form-group col-md-6">
              <label>Year Built</label>
              <input type="text" name="year" class="form-control">
            </div>
          </fieldset>
        </div>
        <fieldset>
            <div class="form-group col-md-6">
                <legend>Wonder Description</legend>
                <textarea name="description" rows="8" cols="80" class="form-control"></textarea>
            </div>
          <div class="form-group col-md-6">
            <legend>Image Link</legend>
            <input type="text" name="img" class="form-control">
          </div>
        </fieldset>
        <div class="form-btns form-group col-md-6">
          <fieldset>
            <input type="submit" value="Submit" class="btn btn-primary">
          </fieldset>
        </form>
        </div>
    </div>
  </body>
</html>
