<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <%- include('./partials/head.ejs') %>
      <title>20 Wonders Campaign</title>
  </head>
  <body>
    <nav>
      <%- include('./partials/nav.ejs') %>
    </nav>
    <div class="container">
      <h1>20 Wonders of 2020</h1>
      <p>Welcome! Please create and account or login to vote for the new world wonders of 2020.</p>
    </div>
  </body>
</html>
