<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <%- include('./partials/head.ejs') %>
      <title>20 Wonders Campaign</title>
  </head>
  <body>
    <header>
      <%- include('./partials/logout.ejs') %>
      <h1>20 Wonders of 2020</h1>
      <nav>
        <%- include('./partials/nav.ejs') %>
      </nav>
    </header>
    <div class="container">
      <h2>Welcome!</h2>
      <p>Please create an account or login to vote for the new world wonders of 2020.</p>
    </div>
    <footer>
    </footer>
  </body>
</html>
