<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <%- include('./partials/head.ejs') %>
      <title>20 Wonders Campaign</title>
  </head>
  <body>
    <header>
      <%- include('./partials/logout.ejs') %>
      <h1>20 Wonders of 2020</h1>
      <nav>
        <%- include('./partials/nav.ejs') %>
      </nav>
    </header>
    <div class="container">
      <div class="splash-show">
        <h2>Welcome!</h2>
        <p class="splash-description">The 7 Wonders of the World are a testament to what can be achieved when humanity works together.</p><p> Our goal with the 20 Wonders of 2020 Campaign is to commemorate 13 additional World Wonders.</p>
      </div>
      <div class="wonder-show">
        <div class="show-header">
          <h3>The Great Pyramid</h3>
          <p>Cairo, Egypt</p>
          <p>Built in 2940 BC</p>
        </div>
        <a href="/wonders/original">  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Kheops-Pyramid.jpg/1024px-Kheops-Pyramid.jpg" alt="a picture of Giza Pyramid"></a>
        <div class="description">
          <p>The Great Pyramid of Giza is the only remining member of the Seven Wonders of the Ancient World. When it was built, the pyramid was encased with white limestone and a golden tip.</p>
        </div>
    </div>
    <footer>
    </footer>
  </body>
</html>
