/* MOBILE STYLE */

body {
  background: rgba(147, 112, 219, .3);
  color: indigo;
  font-family: 'Lato', sans-serif;
}

/* header and nav */

header {
  background: blanchedalmond;
}

nav a {
  color: indigo;
}

#vote {
  background: indigo;
  max-width: 170px;
}

#vote:hover {
  background: rgba(147, 112, 219, .7)
}

#home {
  order: -1;
}

header h1 {
  text-align: center;
  color: indigo;
  font-family: 'Alata', sans-serif;
}

/* login/logout button area  */

.logout, .login {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  margin-right: .1em;
}

 #logout {
  margin-top: -2em;
}

#login:hover, #logout:hover{
  background: indigo;
  color: white;
}

.btn-sm {
  background: rgba(147, 112, 219, .3);
  color: indigo;
  border: 1px solid indigo;
}

/* splash styling  */
.splash-show {
  background: white;
  margin-top: .5em;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid goldenrod;
  margin-bottom: -1em;
}

.splash-show h2 {
  text-align: center;
}

.splash-show p {
  margin: .2em;
}

/* wonder index page style */

.wonder-index {
  height: 280px;
  width: 350px;
  margin: 3em;
  margin-bottom: 4em;
  box-shadow: 3px 6px goldenrod;
  margin-left: auto;
  margin-right: auto;
}

.wonder-header {
  background: blanchedalmond;
  text-align: center;
  border: 3px solid indigo;
}

.index-img {
  width: 350px;
  height: 200px;
}

.img-wonder {
  width: 100%;
  height: 100%;
  border: 3px solid indigo;
  border-top: 0;
}

/* voting section */

.votes {
  background: blanchedalmond;
  display: flex;
  border: 3px solid indigo;
  border-top: 0;
  justify-content: space-between;
}

.votes h5 {
  font-weight: 600;
  margin: .1em;
}

#vote-btn {
  background: indigo;
  color: white;
  width: 70px;
  border-radius: 0;
}

#vote-btn:hover {
  background: rgba(147, 112, 219, .7);
  border-color: rgba(147, 112, 219, .7);
}

/* wonder show page  */

.wonder-show {
  margin-top: 2em;
}

.wonder-show img {
  height: 300px;
  width: 100%;
  border: 3px solid goldenrod;
  border-bottom: 0;
}

.description {
  background: white;
  border: 3px solid goldenrod;
  border-top: 0;
}

.description p {
  margin: .3em;
  margin-top: 0;
}

.wonder-btns {
  display: flex;
  margin-top: 1em;
}

.btn-primary {
  background: indigo;
  border: 0;
  margin-right: 1em;
}

.btn-primary:hover {
  background: rgba(147, 112, 219, .7);
}

.btn-secondary {
  background: goldenrod;
  border: 0;
  margin-right: 1em;
}

.btn-secondary:hover {
  background: gold;
}

/* form styling  */

.form-btns {
  display: flex;
  justify-content: space-between;
}

/* login page */

#login-form, #create-account-form {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

#login-page-btn, #create-account-btn {
  margin-top: 1em;
}

.create-account {
  margin-top: 2em;
}

/* smaller laptop screens  */
@media only screen and (min-width: 740px) and (max-width: 989px) {

  /* splash  */

  .splash-show {
    text-align: center;
    width: 100%;
    height: 170px;
    margin-bottom: 2em;
  }

  /* container for wonders show  */

  .wonder-show {
    margin-top: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .wonder-show img {
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .wonder-btns {
    display: flex;
    justify-content: center;
    width: 80%;
  }

  .show-header {
    text-align: center;
  }

  /* form */
  #new-wonder, #edit-wonder {
    margin-left: 25%;
    width: 100%;
  }

  /* login section */
  #login-form {
    margin-left: 17%;
    width: 100%;
  }

}

/* desktop style  */
@media only screen and (min-width: 990px) {

/* splash page  */
.splash-show {
  text-align: center;
  width: 80%;
  height: 150px;
}

.splash-show p {
  line-height: 2em;
}

.splash-show {
  margin-bottom: 2em;
}

/*  wonders show  */

.wonder-show {
  margin-top: 0;
  padding-left: 22%;
}

.wonder-show img {
  height: 400px;
  width: 70%;
}

.description {
  width: 70%;
}

.show-header {
  width: 70%;
  text-align: center;
}

.wonder-btns {
  display: flex;
  justify-content: center;
  width: 70%;
}

/* form */
#new-wonder, #edit-wonder {
  margin-left: 25%;
  width: 100%;
}

/* login page  */
#login-form {
  margin-left: 33%;
}

}
