<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>Create an account</title>
  </head>
  <body>
    <header>
      <%- include('../partials/logout.ejs') %>
      <h1>Create an account</h1>
      <nav>
        <%- include('../partials/nav.ejs') %>
      </nav>
    </header>
    <div class="container">
      <form action="/users" method="POST">
        <label for="name">Username:</label>
        <input type="text" name="username">
        <label for="pass">Password:</label>
        <input type="password" name="password">
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
